@import "microtip.css";
@import "carouselStyle.css";
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .ktext-fun-title {
    @apply font-fun font-normal text-8xl;
  }
  .ktext-big-title {
    @apply font-sans font-semibold text-2xl;
  }
  .ktext-title {
    @apply font-sans font-medium text-lg uppercase;
  }
  .ktext-section-title {
    @apply font-sans font-semibold text-xl;
  }
  .ktext-subtitle {
    @apply font-sans font-bold text-sm uppercase;
  }
  .ktext-base {
    @apply font-sans font-normal text-lg;
  }
  .ktext-base-little {
    @apply font-sans font-normal text-sm;
  }
  .ktext-base-big {
    @apply font-sans font-normal text-xl;
  }
  .ktext-base-superbig {
    @apply font-sans font-semibold text-4xl;
  }
  .ktext-label {
    @apply font-sans font-medium text-sm uppercase;
  }
  .ktext-label-superbig {
    @apply font-sans font-semibold text-3xl uppercase;
  }
  .ktext-label-little {
    @apply font-sans font-medium text-xxs uppercase;
  }
  input::placeholder {
    @apply font-sans font-normal text-base;
  }
  .ktext-error {
    @apply font-sans font-normal text-xs italic;
  }
  .ktext-subtext {
    @apply font-sans font-normal text-xs;
  }
  .ktext-light {
    @apply font-sans font-light text-xs;
  }
}

body {
  overflow: hidden;
}
@media only screen and (max-width: 1024px) {
  body {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    touch-action: none;
  }
}

@media all and (display-mode: standalone) {
  .no-standalone {
    display: none;
  }
}
@media all and (display-mode: browser), all and (display-mode: fullscreen) {
  .standalone {
    display: none;
  }
}

::-webkit-scrollbar {
  background: transparent;
  width: 1rem;
}
::-webkit-scrollbar-track {
  background-color: transparent;
}
::-webkit-scrollbar-thumb {
  background-color: #d5d7e2;
  border-radius: 30px;
  border: 6px solid transparent;
  background-clip: content-box;
}
::-webkit-scrollbar-thumb:hover {
  background-color: #979797;
}
.hide-scrollbar::-webkit-scrollbar {
  display: none;
  overflow: -moz-hidden-unscrollable;
}
.hide-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.hide-after-two-lines {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}
.hide-after-three-lines {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

.noSelect {
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.noSelect:focus {
  outline: none !important;
}


/* MAP */
.ol-attribution {
  left: 0.5em !important;
  right: initial !important;
}
.ol-touch .ol-control button {
  font-size: 0.8em !important;
}

/* FONT */
@font-face {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  src: local("Poppins-Regular"), local("Poppins-Regular"),
    url("/assets/fonts/Poppins/Poppins-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "Poppins";
  font-style: italic;
  font-weight: 400;
  src: local("Poppins-Italic"), local("Poppins-Italic"),
    url("/assets/fonts/Poppins/Poppins-Italic.ttf") format("truetype");
}
@font-face {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  src: local("Poppins-Medium"), local("Poppins-Medium"),
    url("/assets/fonts/Poppins/Poppins-Medium.ttf") format("truetype");
}
@font-face {
  font-family: "Poppins";
  font-style: italic;
  font-weight: 500;
  src: local("Poppins-MediumItalic"), local("Poppins-MediumItalic"),
    url("/assets/fonts/Poppins/Poppins-MediumItalic.ttf") format("truetype");
}
@font-face {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  src: local("Poppins-SemiBold"), local("Poppins-SemiBold"),
    url("/assets/fonts/Poppins/Poppins-SemiBold.ttf") format("truetype");
}
@font-face {
  font-family: "Poppins";
  font-style: italic;
  font-weight: 600;
  src: local("Poppins-SemiBoldItalic"), local("Poppins-SemiBoldItalic"),
    url("/assets/fonts/Poppins/Poppins-SemiBoldItalic.ttf") format("truetype");
}
@font-face {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  src: local("Poppins-Bold"), local("Poppins-Bold"),
    url("/assets/fonts/Poppins/Poppins-Bold.ttf") format("truetype");
}
@font-face {
  font-family: "Poppins";
  font-style: italic;
  font-weight: 700;
  src: local("Poppins-BoldItalic"), local("Poppins-BoldItalic"),
    url("/assets/fonts/Poppins/Poppins-BoldItalic.ttf") format("truetype");
}

@font-face {
  font-family: "TitanOne";
  font-style: normal;
  font-weight: 700;
  src: local("TitanOne-Regular"), local("TitanOne-Regular"),
    url("/assets/fonts/TitanOne/TitanOne-Regular.ttf") format("truetype");
}